<h3>Students</h3>

<form [formGroup]="studentForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input
      type="email"
      class="form-control"
      formControlName="name"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter Student Name"
    />
    <small
      *ngIf="isSubmitted && studentForm.controls.name.errors?.required"
      id="emailHelp"
      class="form-text text-muted"
      >Name is Required.</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Age</label>
    <input
      type="text"
      class="form-control"
      formControlName="age"
      id="exampleInputPassword1"
      placeholder="Password"
    />
    <small
      *ngIf="isSubmitted && studentForm.controls.age.errors?.required"
      id="emailHelp"
      class="form-text text-muted"
      >Age is Required.</small
    >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Department</label>
    <input
      type="text"
      class="form-control"
      formControlName="dept"
      id="exampleInputPassword1"
      placeholder="Department"
    />
    <small
      *ngIf="isSubmitted && studentForm.controls.dept.errors?.required"
      id="emailHelp"
      class="form-text text-muted"
      >Department is Required.</small
    >
  </div>
  <button type="submit" class="btn btn-primary">Add Student</button>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students; let i = index">
      <th scope="row">{{ i }}</th>
      <td>{{ student.name }}</td>
      <td>
        <button type="button" (click)="viewDetails(i)" class="btn btn-link">
          View Details
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="currentStudent">
  <p>Name: {{ currentStudent["name"] }}</p>
  <p>Age: {{ currentStudent["age"] }}</p>
  <p>Department: {{ currentStudent["dept"] }}</p>
</div>
